<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ideamake.components.im.dto.mapper.UserVisitorMapper">

    <select id="selectUserId" resultType="string">
        select user_uuid from wk_user_visitor where open_id = #{visitorCode} and project_code = #{projectCode} limit 1
    </select>
</mapper>
